* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: rgb(62, 100, 255);
    --alt-color: rgb(94, 223, 255);
    --third-color: rgb(178, 252, 255);
    --section-bg: #f6f6f6;
    --padding-section: 50px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
img {
    max-width: 100%;
}
/*some components*/
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Medium Screen (Ipad)*/
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
/*Big Screen*/ 
@media (min-width: 1215px) {
    .container {
        width: 1115px;
    }
}
/* big Screen */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/*style setting box*/
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background-color: #000;
    z-index: 1000;
    color: #fff;
    min-height: 100vh;
    border: 1px solid var(--main-color);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.setting-box .setting-btn {
    position: absolute;
    right: -44px;
    top: 150px;   
    background-color: #000;   
    text-align: center;
    cursor: pointer;
}
.setting-box .setting-btn i {
    padding: 10px;
    font-size: 1.5rem;
    color:  var(--main-color);
}
.open {
    left: 0;
}
/* bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
}
.bullet {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    margin-right: 3px;
}
.bullet:hover .tooltip {
    display: block;
}
.tooltip {
    position: absolute;
    right: 30px;
    top: -1px;
    width: 100px;
    padding: 2px 4px;
    background-color: var(--main-color);
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    display: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    right: -14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*Style colors box*/
.setting-box .colors-box {
    padding: 15px;
    margin: 10px;
    border-bottom: 2px solid var(--main-color);
}
.setting-box .colors-box h4 {
    color: var(--main-color);
    text-align: center;
}
.setting-box .colors-box .color-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.setting-box .colors-box .color-list li {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.5;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.setting-box .colors-box .color-list li.active {
    opacity: 1;
    border: 2px solid #fff;
}
.setting-box .colors-box .color-list li:first-of-type {
    background-color: #0014FF;
}
.setting-box .colors-box .color-list li:nth-child(2) {
    background-color: #009EFF;
}
.setting-box .colors-box .color-list li:nth-child(3) {
    background-color: #00E7FF;
}
.setting-box .colors-box .color-list li:last-of-type {
    background-color: #00FFF6;
}
/*style background random box*/
.option {
    margin: 20px 10px;
    text-align: center;
}
.option h4 {
    color: var(--main-color);
}
.option > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.option > div > span {
    background-color: var(--main-color);
    margin-right: 5px;
    padding: 4px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.setting-box .option span.active {
    opacity: 1;
}
.reset {
    background-color: #ff0000;
    color: #fff;
    width: 180px;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
/*Style Landing Section*/
.landing-page {
    min-height: 100vh;
    background-image: url(../img/01.jpg);
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.landing-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 2;
    color: #fff;
    position: relative;
}
.menu-bar,
.menu-btn,
.dis-menu {
    display: none;
}
.logo {
    font-size: 1.3rem;
    font-style: italic;
}
.logo i {
    color: var(--main-color);
    margin-right: 5px;
}
.landing-page .header ul{
    display: flex;
    align-items: center;
}
.landing-page .header ul li {
    padding: 15px;
}
.landing-page .header ul a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (max-width: 990px) {
    .landing-page .header ul {
        display: none;
    }
    .menu-btn {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        position: relative;
    }
    .dis-menu:checked +.menu-bar {
        display: flex;
        top: 60px;        
    }
    .menu-bar {
        display: none;
        background-color: #000;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        text-align: center;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        right: 10px;
        top: 100px;
        z-index: 1000000000000000;
    }
    .menu-bar a {
    padding: 25px;
    font-family: satisfy;
    color: #fff;
    text-decoration: none;
    }
    .nav .container .menu-bar a:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
}
.landing-page .header ul a.active,
.landing-page .header ul a:hover {
    color: var(--main-color);
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
    color: #fff;
    text-align: center;
}
.intro-text h1 {
    font-size: 2.3rem;
}
.intro-text h1 span {
    color: var(--main-color);
}
@media (max-width: 575px) {
    .intro-text {
        width: 90%;
    }
    .intro-text h1 {
    font-size: 1.8rem;
}
}
.intro-text p {
    font-size: 1.2rem;
    line-height: 1.8;
}
/* About us section */
.about-us {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-bg);
}
.about-us .container {
    display: flex;
}
@media (max-width: 775px) {
    .about-us .container {
        flex-direction: column;
        text-align: center;
    }
}
.about-us .info {
    flex: 1;
}
.about-us .info h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: var(--main-color);
}
.about-us .info p {
    line-height: 1.6;
    color: #535353;
}
@media (max-width: 775px) {
    .about-us .info p {
        margin-bottom: 25px;
    }
}
.about-us img {
    width: 350px;
    padding: 3px;
    border: 1px solid var(--main-color);
}
@media (max-width: 775px) {
    .about-us img {
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }
}
/* Skills Section */
.skills {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.skills .container > h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: var(--main-color);
    text-align: center;
}
.skill-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--main-color);
}
.skill-box h4 {
    width: 100px;
}
@media (max-width: 575px) {
    .skill-box {
        flex-direction: column;
        text-align: center;
    }
    .skill-box h4 {
    margin-bottom: 25px;
    }
}
.progress {
    position: relative;
    width: calc(100% - 100px);
    background-color: #f6f6f6;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.progress > span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.progress > span > span {
    position: absolute;
    right: -16px;
    top: -40px;
    padding: 3px;
    background-color: var(--main-color);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: .9rem;
}
.progress > span > span::before {
    content: "";
    border: 5px solid;
    border-color: var(--main-color) transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* gallary section */
.gallery {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-bg);
}
.gallery h2 {
    color: var(--main-color);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
}
.imgs-box {
    text-align: center;
}
.imgs-box img {
    width: 200px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px;
    z-index: 1005;
    border: 1px solid var(--main-color);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.popup-box h4 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--main-color);
}
.popup-box span {
    position: absolute;
    right: 2px;
    top: 2px;
}
.popup-box span i {
    font-size: 2rem;
    color: var(--main-color);
}
/* Timeline Section */
.timeline {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.timeline .container {
    position: relative;
}
.timeline h2 {
    margin-bottom: 25px;
    font-size: 2.5rem;
    color: var(--main-color);
}
.timeline .container::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.timeline .container h4 {
    color: #fff;
    background-color: var(--main-color);
    padding: 2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    margin: 20px auto;
}
.timeline .timeline-cont {
    display: flex;
    gap: 35px;
    align-items: flex-start;
}
.timeline .timeline-cont .content {
    background-color: #eee;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    position: relative;
}
.timeline .timeline-cont .content.top::after,
.timeline .timeline-cont .content.bottom::after {
    content: '';
    background-color: #fff;
    border: 3px solid var(--main-color);
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 30px;    
}
.timeline .timeline-cont .content.bottom::after {
    left: -32px;
}
.timeline .timeline-cont .content.top::after {
    right: -32px;
}
.timeline .timeline-cont .content.bottom {
    margin-top: 200px;
}
@media (max-width: 767px) {
    .timeline .timeline-cont {
        flex-direction: column;
        gap: 10px;
    }
    .timeline .timeline-cont .content.top::after,
    .timeline .timeline-cont .content.bottom::after {
    display: none;
    }
    .timeline .timeline-cont .content.top::before,
    .timeline .timeline-cont .content.bottom::before {
    display: none;
    }
    .timeline .timeline-cont .content.bottom {
        margin-top: 10px;
    }
}
.timeline .timeline-cont h3 {
    color: var(--main-color);
    margin-bottom: 15px;
}
.timeline .timeline-cont p {
    color: #3c3c3c;
    line-height: 1.4;
}
/* Featurs Section */
.features {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-bg);
}
.features h2 {
    margin-bottom: 85px;
    font-size: 2.5rem;
    color: var(--main-color);
    text-align: center;
}
.features .feat {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.features .feat-box {
    text-align: center;
}
@media (max-width: 676px) {
    .features .feat-box {
        margin-bottom: 20px;
    }
}
.features .feat-box i {
    color: var(--main-color);
    margin-bottom: 25px;
    font-size: 2.5rem;
}
.features .feat-box h4 {
    margin-bottom: 15px;
}
.features .feat-box p {
    color: #3c3c3c;
    line-height: 1.6;
}
/* Testimonials */
.testimonials {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}
.testimonials::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    z-index: -1;
}
.testimonials::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #3c3c3c;
    top: 0;
    right: 0;
    z-index: -1;
}
.testimonials h2 {
    margin-bottom: 55px;
    font-size: 2.5rem;
    color: #fff;
}
.testimonials .testimonials-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.testimonials .testimonials-content .box {
    background-color: #eee;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.testimonials-content .box > p {
    color: #3c3c3c;
    line-height: 1.6;
    font-size: .9rem;
    font-style: italic;
    margin-bottom: 15px;
}
.testimonials-content .box .info {
    
    display: flex;
    align-items: center;
}
.testimonials-content .box .info img {
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
}
.testimonials-content .box .info h4 {
    color: var(--main-color);
    margin-bottom: 5px;
}
/* Contact Us */
.contact-us {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-image: url(../img/andrew-stutesman-l68Z6eF2peA-unsplash.jpg);
    position: relative;
}
.contact-us .container {
    position: relative;
    z-index: 500;
}
.contact-us h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 50px;
}
.contact-us form {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 10px;
    margin: 10px auto;
    padding: 20px;
}
@media (max-width: 677px) {
    .contact-us form {
        flex-direction: column;
    }
}
.contact-us .left,
.contact-us .right {
    flex: 1;
}
.contact-us form input:not([type="submit"]),
.contact-us form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(218, 218, 218, 0.9);
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.contact-us form textarea {
    height: 150px;
}
.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus {
    outline: 1px solid var(--main-color);
}
.contact-us form input:not([type="submit"]):focus::placeholder,
.contact-us form textarea:focus::placeholder {
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.contact-us form input[type="submit"] {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: var(--main-color);
    padding: 10px;
    border: 1px solid transparent;
    color: #fff;
}
/*Footer*/
.footer {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-msg {
    display: flex;
    gap: 5px;
    flex: 1;
}
.footer-msg p {
    color: #ff0000;
}
li:hover ~ li p{
    -webkit-animation: wave-animation 0.3s infinite;
    animation: wave-animation 0.3s infinite;
}
.social {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    flex: 2;
}
.social a {
    color: #fff;
    text-decoration: none;
}
@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}
