* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: rgb(62, 100, 255);
    --alt-color: rgb(94, 223, 255);
    --third-color: rgb(178, 252, 255);
}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
/*style setting box*/
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background-color: var(--main-color);
    z-index: 1000;
    color: #fff;
    min-height: 100vh;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.setting-box .setting-btn {
    position: absolute;
    right: -44px;
    top: 150px;   
    background-color: var(--main-color);   
    text-align: center;
    cursor: pointer;
}
.setting-box .setting-btn i {
    padding: 10px;
    font-size: 1.5rem;
}
.open {
    left: 0;
}
/*Style Landing Section*/
.landing-page {
    height: 100vh;
    background-image: url(../img/01.jpg);
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.landing-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 2;
    color: #fff;
    position: relative;
}
.menu-bar,
.menu-btn,
.dis-menu {
    display: none;
}
.logo {
    font-size: 1.3rem;
    font-style: italic;
}
.logo i {
    color: var(--main-color);
    margin-right: 5px;
}
.landing-page .header ul{
    display: flex;
    align-items: center;
}
.landing-page .header ul li {
    padding: 15px;
}
.landing-page .header ul a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .landing-page .header ul {
        display: none;
    }
    .menu-btn {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        position: relative;
    }
    .dis-menu:checked +.menu-bar {
        display: flex;
        top: 60px;        
    }
    .menu-bar {
        display: none;
        background-color: rgba(62,100,255, 0.6);
        flex-direction: column;
        width: 90%;
        justify-content: center;
        text-align: center;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        right: 10px;
        top: 100px;
    }
    .menu-bar a {
    padding: 25px;
    font-family: satisfy;
    color: #fff;
    text-decoration: none;
    }
    .nav .container .menu-bar a:not(:last-of-type) {
        border-bottom: 1px solid #fff;
    }
}
.landing-page .header ul a.active,
.landing-page .header ul a:hover {
    color: var(--main-color);
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.intro-text h1 {
    font-size: 2.3rem;
}
.intro-text h1 span {
    color: var(--main-color);
}
.intro-text p {
    font-size: 1.2rem;
    line-height: 1.8;
}
@media (max-width: 450px) {
    .intro-text {
        text-align: justify;
    }
}